<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Reply Notification</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: Arial,sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }
        a {
            color: #000;
            text-decoration: none;
        }
        h1 {
            font-size: 24px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }
        p {
            margin-top: 0;
            margin-bottom: 24px;
        }
        table td {
            vertical-align: top;
        }

        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }

        .emial-header {
            background-color: #6545ad;
            padding: 16px;
            color: #5acdb4;
        }
        .email-body {
            padding: 24px;
            background-color: #ffffff;
        }
        .email-footer {
            background-color: #f6f6f6;
            padding: 24px;
        }

        /*buttons*/
        .button {
            display: inline-block;
            background-color: #dd6ef0;
            padding: 12px 24px;
            border: 1px solid #000000;
            border-radius: 4px;
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            text-align: center;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="emial-header">
            <h1>New Notification Received from LearnInO</h1>
        </div>
        <div class="email-body">
            <h2>Hello <%= name %>,</h2>
            <p>A new reply has been added to your question in the video "<%= title%>".</p>
            <p>Please login to our website to view the reply and continue the discussion.</p>
        </div>
        <div class="email-footer">
            <p>Thank you for being part of our community..!</p>
        </div>   
    </div>
</body>
</html>